/*----------------------------------------------   
--Fonts
-----------------------------------------------  */
$font-header: "playfair display", georgia, times, serif;
$font-paragraph: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

/*----------------------------------------------   
--MQs
-----------------------------------------------  */
$mq-xsmall: 22em;
$mq-small: 36em;
$mq-med: 58em;
$mq-large: 86em;
$mq-xlarge: 115em;
$mq-xxlarge: 125em;
$mq-xxxlarge: 145em;

/*----------------------------------------------   
--Colors
-----------------------------------------------  */
$color-light: rgba(255,255,255,0.8);
$color-alpha: #98DAEE;
$color-beta: #7690A4;